.padd {
  padding: 1em;
}
.repository {
  font-weight: 900;
  padding: 1em 0;
  border-bottom: 1px solid hsl(0, 2%, 73%);
}
.outlet_link {
  color: hsl(212, 79%, 39%);
}
.outlet_link:hover {
  color: rgb(186, 186, 238);
}
.outlet_link:active,
.outlet_link:focus {
  color: blue;
  text-decoration: underline;
}
.repo_de {
  max-width: 500px;
}
.repo_bg {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
}
.btn_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin: 2em 0;
  padding: 0 1em;
}
.btn {
  border: 0;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  cursor: pointer;
  background-color: #fff;
}
.btn:hover {
  color: rgb(152, 152, 185);
}
.btn:active,
.btn:focus {
  border: 1px solid rgb(153, 153, 238);
  color: blue;
}
.public {
  border: 1px solid gray;
  padding: 0.2em 0.5em;
  border-radius: 15px;
  text-transform: capitalize;
}
.gap {
  gap: 0.2em;
  margin-bottom: 0;
}
.star {
  width: 20px;
}
.no-space {
  margin-bottom: 0;
}
.space-btw {
  justify-content: space-between;
  flex-wrap: wrap;
}
.test {
  padding: 1em;
  max-width: 600px;
  margin: auto;
}
.title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 700;
}
input {
  display: block;
  margin-bottom: 2em;
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 10px;
}
.fallback {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}
footer {
  text-align: center;
}
.repo_avatar {
  max-width: 30px;
  border-radius: 30%;
}
.accent {
  color: black;
  text-decoration: none;
}
.events {
  padding: 1em;
}
.event_img {
  max-width: 60px;
  border-radius: 50%;
}
.con {
  position: relative;
}
.st {
  display: block;
  position: absolute;
  bottom: 0;
  right: -0.5em;
  background-color: white;
  border-radius: 50%;
  max-width: 30px;
  border: 2px solid white;
}
.create {
  content: url("/assets/icons8-repository.png");
}
.watch {
  content: url("/assets/icons8-event-star.png");
}
.fork {
  content: url("/assets/icons8-forked.png");
}
.colab {
  content: url("/assets/icons8-account-24.png");
}
.card {
  padding: 1em;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;
}
.bold{
  font-weight:700;
}
.link{
  font-weight: 600;
  color: hsl(234, 85%, 60%);
  margin-top: 1em;
  display: block;

}
.space-bt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
@media (min-width: 40rem) {
  .repolist_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }
  .repo {
    grid-column: 1;
  }
}
@media (min-width: 60rem) {
  .home_content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    position: relative;
  }
  .events{
    grid-column: 2;
    padding: 1em 2em 1em 3em;
  }
}
