.language_color {
  width: 15px;
  border-radius: 50%;
  height: 15px;
  display: inline-block;
}
.css {
    
  background-color: purple;
}
.javascript {
  background-color: yellow;
}
.html {
  background-color: red;
}
.typescript {
  background-color: blue;
}
.language_text{
    font-size: smaller;
}
.language_flex{
    display: flex;
    align-items: center;
    gap: .4em;
}
