header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  background-color: black;
  color: #ffff;
}
h1 {
  grid-column: 1;
  font-size: 20px;
}
nav {
  grid-row: 2;
  grid-column: 1/4;
  display: none;
}
nav[data-visible="true"] {
  display: block;
}

ul {
  padding: 0;
  margin-top: 1em;
  color: #ffff;
}
.nav_list {
  padding-bottom: .5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid rgb(252, 241, 241);
}
.nav_link {
  color: #ffff;
  text-transform: capitalize;
}
.nav_link.active {
  color: hsl(214, 59%, 48%);
}
.nav_link:hover {
  color: hsl(215, 25%, 76%);
}
.mobile_navigation {
  grid-column: 4;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0;
  background-image: url("/assets/icon-hamburger.svg");
}
.open {
  background-image: url("/assets/icon-close.svg");
}

@media (min-width: 40rem) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2.5em;
  }
  .mobile_navigation {
    display: none;
  }
  nav[data-visible="true"],nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  ul {
    margin-top: 0;
    display: flex;
    gap: 2em;
    align-items: center;
  }
  .nav_link {
    cursor: pointer;
  }
  .nav_list{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
