*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}
body,
#root,
.App {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}
img,
picture {
  display: block;
  max-width: 100%;
}
