*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
body,
#root,
.App {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  background-color: rgb(233, 227, 227);
  font-family: "Roboto", sans-serif;
}
img,
picture {
  display: block;
  max-width: 100%;
}
